<h1>Listing contatos</h1>

<% @contatos.each do |contato| %>
  <ul>
    <li><%= contato.name %></li>
    <li><%= contato.phone %></li>
    <td><%= link_to 'Detalhes', contato %></td>
    <td><%= link_to 'Editar', edit_contato_path(contato) %></td>
  </ul>
<% end %>

<br />

<%= link_to 'Novo Contato', new_contato_path %>
<p></p>
<%= link_to 'Voltar', home_index_path %>
