<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contato.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @contato.mail %>
</p>

<p>
  <b>Phone:</b>
  <%= @contato.phone %>
</p>


<%= link_to 'Editar', edit_contato_path(@contato) %> |
<%= link_to 'Deletar', @contato, confirm: 'Deletar Contato?', method: :delete %> |
<%= link_to 'Voltar', contatos_path %>
